{% extends 'charity_header.html' %}
{% block charity %}
{% load static %}

<h2>Adopted Individuals</h2>
<table border="2" style="width:100%; text-align:center; border-collapse: collapse;">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Gender</th>  
        <th>Image</th>
        <th>Adopted Date</th>
    </tr>
    {% if data %}
      {% for i in data %}
      <tr>
          <td>{{i.first_name}}</td>
          <td>{{i.last_name}}</td>
          <td>{{i.age}}</td>
          <td>{{i.gender}}</td>
          <td><img src="{{i.image.url}}" alt="image" height="50px" width="50px" style="border-radius: 5px;"></td>
          <td>{{i.adopted_date|date:"Y-m-d"}}</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr><td colspan="6">No adopted individuals found.</td></tr>
    {% endif %}
</table>

<br>
<a href="{% url 'all_organisations' %}"><button>Back</button></a>

{% endblock %}
